In [0]:
#importing the required libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [0]:
#Reading the excel sheet using pandas
a = pd.read_excel('CO2.xls')

In [49]:
a

,Year,Temperature ( Degree C),Carbon Dioxide (Parts Per Million),Emissions from Fossil Fuel Burning (Million Tonnes of Carbon)
0,2000,14.2886,369.40,6750
1,2001,14.4173,371.08,6916
2,2002,14.4745,373.17,6981
3,2003,14.4818,375.80,7397
4,2004,14.4416,377.50,7782
5,2005,14.5154,379.78,8086
6,2006,14.4601,381.86,8350
7,2007,14.4479,383.72,8543
8,2008,14.3803,385.57,8749
9,2009,14.4552,387.36,8627
10,2010,14.5171,389.78,9139

In [0]:
#!pip install scikit-learn==0.19.0

In [0]:
x=a.iloc[:,:-1].values
y=a.iloc[:,3].values

In [0]:
#Here we are taking train_test_split class from sklearn.cross_validation package
from sklearn.cross_validation import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [0]:
#Here we are using LinearRegression Model from sklearn.linear_model package
from sklearn.linear_model import LinearRegression

In [61]:
#Here we are creating a object for the LinearRegression Class
regressor = LinearRegression()
#Here we are training the model by using fit method
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [0]:
#here the predicted values are stored in p
p=regressor.predict(X_test)

In [63]:
#Here we are predicting the values of CO based on Other gases.
print("Predicted values:", p)

Predicted values: [8513.09119485 8850.34598904 6907.24366521]

In [64]:
#Here we are comparing the predicted data and the actual data
print("R^2 score for liner regression: ", regressor.score(X_test,y_test))

R^2 score for liner regression:  0.9664181658555224